.bg-tan {
  background-color: rgb(87, 84, 74);
}

.bg-brown {
  background-color: rgb(218, 212, 187);
}

.bg-highlight {
  background-color: rgb(65, 61, 52);
}

.bg-darkBrown {
  background-color: rgb(179, 172, 146);
}

.bg-accent {
  background-color: #cd664d;
}

.bg-accent2 {
  background-color: #a0c490;
}

.color-tan {
  color: rgb(87, 84, 74);
}

.color-brown {
  color: rgb(218, 212, 187);
}

.color-highlight {
  color: rgb(65, 61, 52);
}

.color-darkBrown {
  color: rgb(179, 172, 146);
}

.color-accent {
  color: #cd664d;
}

.color-accent2 {
  color: #a0c490;
}

.opacity-0 {
  opacity: 0.0;
}

.opacity-1 {
  opacity: 0.1;
}

.opacity-2 {
  opacity: 0.2;
}

.opacity-3 {
  opacity: 0.3;
}

.opacity-4 {
  opacity: 0.4;
}

.opacity-5 {
  opacity: 0.5;
}

.opacity-6 {
  opacity: 0.6;
}

.opacity-7 {
  opacity: 0.7;
}

.opacity-8 {
  opacity: 0.8;
}

.opacity-9 {
  opacity: 0.9;
}

.min-w-0px {
  min-width: 0px;
}

.min-h-0px {
  min-height: 0px;
}

.p-0px {
  padding: 0px;
}

.pt-0px {
  padding-top: 0px;
}

.pb-0px {
  padding-bottom: 0px;
}

.pl-0px {
  padding-left: 0px;
}

.pr-0px {
  padding-right: 0px;
}

.m-0px {
  margin: 0px;
}

.mt-0px {
  margin-top: 0px;
}

.mb-0px {
  margin-bottom: 0px;
}

.ml-0px {
  margin-left: 0px;
}

.mr-0px {
  margin-right: 0px;
}

.fs-0px {
  font-size: 0px;
}

.min-w-1px {
  min-width: 1px;
}

.min-h-1px {
  min-height: 1px;
}

.p-1px {
  padding: 1px;
}

.pt-1px {
  padding-top: 1px;
}

.pb-1px {
  padding-bottom: 1px;
}

.pl-1px {
  padding-left: 1px;
}

.pr-1px {
  padding-right: 1px;
}

.m-1px {
  margin: 1px;
}

.mt-1px {
  margin-top: 1px;
}

.mb-1px {
  margin-bottom: 1px;
}

.ml-1px {
  margin-left: 1px;
}

.mr-1px {
  margin-right: 1px;
}

.fs-1px {
  font-size: 1px;
}

.min-w-2px {
  min-width: 2px;
}

.min-h-2px {
  min-height: 2px;
}

.p-2px {
  padding: 2px;
}

.pt-2px {
  padding-top: 2px;
}

.pb-2px {
  padding-bottom: 2px;
}

.pl-2px {
  padding-left: 2px;
}

.pr-2px {
  padding-right: 2px;
}

.m-2px {
  margin: 2px;
}

.mt-2px {
  margin-top: 2px;
}

.mb-2px {
  margin-bottom: 2px;
}

.ml-2px {
  margin-left: 2px;
}

.mr-2px {
  margin-right: 2px;
}

.fs-2px {
  font-size: 2px;
}

.min-w-3px {
  min-width: 3px;
}

.min-h-3px {
  min-height: 3px;
}

.p-3px {
  padding: 3px;
}

.pt-3px {
  padding-top: 3px;
}

.pb-3px {
  padding-bottom: 3px;
}

.pl-3px {
  padding-left: 3px;
}

.pr-3px {
  padding-right: 3px;
}

.m-3px {
  margin: 3px;
}

.mt-3px {
  margin-top: 3px;
}

.mb-3px {
  margin-bottom: 3px;
}

.ml-3px {
  margin-left: 3px;
}

.mr-3px {
  margin-right: 3px;
}

.fs-3px {
  font-size: 3px;
}

.min-w-4px {
  min-width: 4px;
}

.min-h-4px {
  min-height: 4px;
}

.p-4px {
  padding: 4px;
}

.pt-4px {
  padding-top: 4px;
}

.pb-4px {
  padding-bottom: 4px;
}

.pl-4px {
  padding-left: 4px;
}

.pr-4px {
  padding-right: 4px;
}

.m-4px {
  margin: 4px;
}

.mt-4px {
  margin-top: 4px;
}

.mb-4px {
  margin-bottom: 4px;
}

.ml-4px {
  margin-left: 4px;
}

.mr-4px {
  margin-right: 4px;
}

.fs-4px {
  font-size: 4px;
}

.min-w-5px {
  min-width: 5px;
}

.min-h-5px {
  min-height: 5px;
}

.p-5px {
  padding: 5px;
}

.pt-5px {
  padding-top: 5px;
}

.pb-5px {
  padding-bottom: 5px;
}

.pl-5px {
  padding-left: 5px;
}

.pr-5px {
  padding-right: 5px;
}

.m-5px {
  margin: 5px;
}

.mt-5px {
  margin-top: 5px;
}

.mb-5px {
  margin-bottom: 5px;
}

.ml-5px {
  margin-left: 5px;
}

.mr-5px {
  margin-right: 5px;
}

.fs-5px {
  font-size: 5px;
}

.min-w-10px {
  min-width: 10px;
}

.min-h-10px {
  min-height: 10px;
}

.p-10px {
  padding: 10px;
}

.pt-10px {
  padding-top: 10px;
}

.pb-10px {
  padding-bottom: 10px;
}

.pl-10px {
  padding-left: 10px;
}

.pr-10px {
  padding-right: 10px;
}

.m-10px {
  margin: 10px;
}

.mt-10px {
  margin-top: 10px;
}

.mb-10px {
  margin-bottom: 10px;
}

.ml-10px {
  margin-left: 10px;
}

.mr-10px {
  margin-right: 10px;
}

.fs-10px {
  font-size: 10px;
}

.min-w-15px {
  min-width: 15px;
}

.min-h-15px {
  min-height: 15px;
}

.p-15px {
  padding: 15px;
}

.pt-15px {
  padding-top: 15px;
}

.pb-15px {
  padding-bottom: 15px;
}

.pl-15px {
  padding-left: 15px;
}

.pr-15px {
  padding-right: 15px;
}

.m-15px {
  margin: 15px;
}

.mt-15px {
  margin-top: 15px;
}

.mb-15px {
  margin-bottom: 15px;
}

.ml-15px {
  margin-left: 15px;
}

.mr-15px {
  margin-right: 15px;
}

.fs-15px {
  font-size: 15px;
}

.min-w-20px {
  min-width: 20px;
}

.min-h-20px {
  min-height: 20px;
}

.p-20px {
  padding: 20px;
}

.pt-20px {
  padding-top: 20px;
}

.pb-20px {
  padding-bottom: 20px;
}

.pl-20px {
  padding-left: 20px;
}

.pr-20px {
  padding-right: 20px;
}

.m-20px {
  margin: 20px;
}

.mt-20px {
  margin-top: 20px;
}

.mb-20px {
  margin-bottom: 20px;
}

.ml-20px {
  margin-left: 20px;
}

.mr-20px {
  margin-right: 20px;
}

.fs-20px {
  font-size: 20px;
}

.min-w-25px {
  min-width: 25px;
}

.min-h-25px {
  min-height: 25px;
}

.p-25px {
  padding: 25px;
}

.pt-25px {
  padding-top: 25px;
}

.pb-25px {
  padding-bottom: 25px;
}

.pl-25px {
  padding-left: 25px;
}

.pr-25px {
  padding-right: 25px;
}

.m-25px {
  margin: 25px;
}

.mt-25px {
  margin-top: 25px;
}

.mb-25px {
  margin-bottom: 25px;
}

.ml-25px {
  margin-left: 25px;
}

.mr-25px {
  margin-right: 25px;
}

.fs-25px {
  font-size: 25px;
}

.min-w-30px {
  min-width: 30px;
}

.min-h-30px {
  min-height: 30px;
}

.p-30px {
  padding: 30px;
}

.pt-30px {
  padding-top: 30px;
}

.pb-30px {
  padding-bottom: 30px;
}

.pl-30px {
  padding-left: 30px;
}

.pr-30px {
  padding-right: 30px;
}

.m-30px {
  margin: 30px;
}

.mt-30px {
  margin-top: 30px;
}

.mb-30px {
  margin-bottom: 30px;
}

.ml-30px {
  margin-left: 30px;
}

.mr-30px {
  margin-right: 30px;
}

.fs-30px {
  font-size: 30px;
}

.min-w-35px {
  min-width: 35px;
}

.min-h-35px {
  min-height: 35px;
}

.p-35px {
  padding: 35px;
}

.pt-35px {
  padding-top: 35px;
}

.pb-35px {
  padding-bottom: 35px;
}

.pl-35px {
  padding-left: 35px;
}

.pr-35px {
  padding-right: 35px;
}

.m-35px {
  margin: 35px;
}

.mt-35px {
  margin-top: 35px;
}

.mb-35px {
  margin-bottom: 35px;
}

.ml-35px {
  margin-left: 35px;
}

.mr-35px {
  margin-right: 35px;
}

.fs-35px {
  font-size: 35px;
}

.min-w-40px {
  min-width: 40px;
}

.min-h-40px {
  min-height: 40px;
}

.p-40px {
  padding: 40px;
}

.pt-40px {
  padding-top: 40px;
}

.pb-40px {
  padding-bottom: 40px;
}

.pl-40px {
  padding-left: 40px;
}

.pr-40px {
  padding-right: 40px;
}

.m-40px {
  margin: 40px;
}

.mt-40px {
  margin-top: 40px;
}

.mb-40px {
  margin-bottom: 40px;
}

.ml-40px {
  margin-left: 40px;
}

.mr-40px {
  margin-right: 40px;
}

.fs-40px {
  font-size: 40px;
}

.min-w-45px {
  min-width: 45px;
}

.min-h-45px {
  min-height: 45px;
}

.p-45px {
  padding: 45px;
}

.pt-45px {
  padding-top: 45px;
}

.pb-45px {
  padding-bottom: 45px;
}

.pl-45px {
  padding-left: 45px;
}

.pr-45px {
  padding-right: 45px;
}

.m-45px {
  margin: 45px;
}

.mt-45px {
  margin-top: 45px;
}

.mb-45px {
  margin-bottom: 45px;
}

.ml-45px {
  margin-left: 45px;
}

.mr-45px {
  margin-right: 45px;
}

.fs-45px {
  font-size: 45px;
}

.min-w-50px {
  min-width: 50px;
}

.min-h-50px {
  min-height: 50px;
}

.p-50px {
  padding: 50px;
}

.pt-50px {
  padding-top: 50px;
}

.pb-50px {
  padding-bottom: 50px;
}

.pl-50px {
  padding-left: 50px;
}

.pr-50px {
  padding-right: 50px;
}

.m-50px {
  margin: 50px;
}

.mt-50px {
  margin-top: 50px;
}

.mb-50px {
  margin-bottom: 50px;
}

.ml-50px {
  margin-left: 50px;
}

.mr-50px {
  margin-right: 50px;
}

.fs-50px {
  font-size: 50px;
}

.min-w-60px {
  min-width: 60px;
}

.min-h-60px {
  min-height: 60px;
}

.p-60px {
  padding: 60px;
}

.pt-60px {
  padding-top: 60px;
}

.pb-60px {
  padding-bottom: 60px;
}

.pl-60px {
  padding-left: 60px;
}

.pr-60px {
  padding-right: 60px;
}

.m-60px {
  margin: 60px;
}

.mt-60px {
  margin-top: 60px;
}

.mb-60px {
  margin-bottom: 60px;
}

.ml-60px {
  margin-left: 60px;
}

.mr-60px {
  margin-right: 60px;
}

.fs-60px {
  font-size: 60px;
}

.min-w-70px {
  min-width: 70px;
}

.min-h-70px {
  min-height: 70px;
}

.p-70px {
  padding: 70px;
}

.pt-70px {
  padding-top: 70px;
}

.pb-70px {
  padding-bottom: 70px;
}

.pl-70px {
  padding-left: 70px;
}

.pr-70px {
  padding-right: 70px;
}

.m-70px {
  margin: 70px;
}

.mt-70px {
  margin-top: 70px;
}

.mb-70px {
  margin-bottom: 70px;
}

.ml-70px {
  margin-left: 70px;
}

.mr-70px {
  margin-right: 70px;
}

.fs-70px {
  font-size: 70px;
}

.min-w-80px {
  min-width: 80px;
}

.min-h-80px {
  min-height: 80px;
}

.p-80px {
  padding: 80px;
}

.pt-80px {
  padding-top: 80px;
}

.pb-80px {
  padding-bottom: 80px;
}

.pl-80px {
  padding-left: 80px;
}

.pr-80px {
  padding-right: 80px;
}

.m-80px {
  margin: 80px;
}

.mt-80px {
  margin-top: 80px;
}

.mb-80px {
  margin-bottom: 80px;
}

.ml-80px {
  margin-left: 80px;
}

.mr-80px {
  margin-right: 80px;
}

.fs-80px {
  font-size: 80px;
}

.min-w-90px {
  min-width: 90px;
}

.min-h-90px {
  min-height: 90px;
}

.p-90px {
  padding: 90px;
}

.pt-90px {
  padding-top: 90px;
}

.pb-90px {
  padding-bottom: 90px;
}

.pl-90px {
  padding-left: 90px;
}

.pr-90px {
  padding-right: 90px;
}

.m-90px {
  margin: 90px;
}

.mt-90px {
  margin-top: 90px;
}

.mb-90px {
  margin-bottom: 90px;
}

.ml-90px {
  margin-left: 90px;
}

.mr-90px {
  margin-right: 90px;
}

.fs-90px {
  font-size: 90px;
}

.min-w-100px {
  min-width: 100px;
}

.min-h-100px {
  min-height: 100px;
}

.p-100px {
  padding: 100px;
}

.pt-100px {
  padding-top: 100px;
}

.pb-100px {
  padding-bottom: 100px;
}

.pl-100px {
  padding-left: 100px;
}

.pr-100px {
  padding-right: 100px;
}

.m-100px {
  margin: 100px;
}

.mt-100px {
  margin-top: 100px;
}

.mb-100px {
  margin-bottom: 100px;
}

.ml-100px {
  margin-left: 100px;
}

.mr-100px {
  margin-right: 100px;
}

.fs-100px {
  font-size: 100px;
}

.min-w-150px {
  min-width: 150px;
}

.min-h-150px {
  min-height: 150px;
}

.p-150px {
  padding: 150px;
}

.pt-150px {
  padding-top: 150px;
}

.pb-150px {
  padding-bottom: 150px;
}

.pl-150px {
  padding-left: 150px;
}

.pr-150px {
  padding-right: 150px;
}

.m-150px {
  margin: 150px;
}

.mt-150px {
  margin-top: 150px;
}

.mb-150px {
  margin-bottom: 150px;
}

.ml-150px {
  margin-left: 150px;
}

.mr-150px {
  margin-right: 150px;
}

.fs-150px {
  font-size: 150px;
}

.min-w-200px {
  min-width: 200px;
}

.min-h-200px {
  min-height: 200px;
}

.p-200px {
  padding: 200px;
}

.pt-200px {
  padding-top: 200px;
}

.pb-200px {
  padding-bottom: 200px;
}

.pl-200px {
  padding-left: 200px;
}

.pr-200px {
  padding-right: 200px;
}

.m-200px {
  margin: 200px;
}

.mt-200px {
  margin-top: 200px;
}

.mb-200px {
  margin-bottom: 200px;
}

.ml-200px {
  margin-left: 200px;
}

.mr-200px {
  margin-right: 200px;
}

.fs-200px {
  font-size: 200px;
}

.min-w-250px {
  min-width: 250px;
}

.min-h-250px {
  min-height: 250px;
}

.p-250px {
  padding: 250px;
}

.pt-250px {
  padding-top: 250px;
}

.pb-250px {
  padding-bottom: 250px;
}

.pl-250px {
  padding-left: 250px;
}

.pr-250px {
  padding-right: 250px;
}

.m-250px {
  margin: 250px;
}

.mt-250px {
  margin-top: 250px;
}

.mb-250px {
  margin-bottom: 250px;
}

.ml-250px {
  margin-left: 250px;
}

.mr-250px {
  margin-right: 250px;
}

.fs-250px {
  font-size: 250px;
}

.min-w-300px {
  min-width: 300px;
}

.min-h-300px {
  min-height: 300px;
}

.p-300px {
  padding: 300px;
}

.pt-300px {
  padding-top: 300px;
}

.pb-300px {
  padding-bottom: 300px;
}

.pl-300px {
  padding-left: 300px;
}

.pr-300px {
  padding-right: 300px;
}

.m-300px {
  margin: 300px;
}

.mt-300px {
  margin-top: 300px;
}

.mb-300px {
  margin-bottom: 300px;
}

.ml-300px {
  margin-left: 300px;
}

.mr-300px {
  margin-right: 300px;
}

.fs-300px {
  font-size: 300px;
}

.min-w-350px {
  min-width: 350px;
}

.min-h-350px {
  min-height: 350px;
}

.p-350px {
  padding: 350px;
}

.pt-350px {
  padding-top: 350px;
}

.pb-350px {
  padding-bottom: 350px;
}

.pl-350px {
  padding-left: 350px;
}

.pr-350px {
  padding-right: 350px;
}

.m-350px {
  margin: 350px;
}

.mt-350px {
  margin-top: 350px;
}

.mb-350px {
  margin-bottom: 350px;
}

.ml-350px {
  margin-left: 350px;
}

.mr-350px {
  margin-right: 350px;
}

.fs-350px {
  font-size: 350px;
}

.min-w-400px {
  min-width: 400px;
}

.min-h-400px {
  min-height: 400px;
}

.p-400px {
  padding: 400px;
}

.pt-400px {
  padding-top: 400px;
}

.pb-400px {
  padding-bottom: 400px;
}

.pl-400px {
  padding-left: 400px;
}

.pr-400px {
  padding-right: 400px;
}

.m-400px {
  margin: 400px;
}

.mt-400px {
  margin-top: 400px;
}

.mb-400px {
  margin-bottom: 400px;
}

.ml-400px {
  margin-left: 400px;
}

.mr-400px {
  margin-right: 400px;
}

.fs-400px {
  font-size: 400px;
}

.min-w-450px {
  min-width: 450px;
}

.min-h-450px {
  min-height: 450px;
}

.p-450px {
  padding: 450px;
}

.pt-450px {
  padding-top: 450px;
}

.pb-450px {
  padding-bottom: 450px;
}

.pl-450px {
  padding-left: 450px;
}

.pr-450px {
  padding-right: 450px;
}

.m-450px {
  margin: 450px;
}

.mt-450px {
  margin-top: 450px;
}

.mb-450px {
  margin-bottom: 450px;
}

.ml-450px {
  margin-left: 450px;
}

.mr-450px {
  margin-right: 450px;
}

.fs-450px {
  font-size: 450px;
}

.min-w-500px {
  min-width: 500px;
}

.min-h-500px {
  min-height: 500px;
}

.p-500px {
  padding: 500px;
}

.pt-500px {
  padding-top: 500px;
}

.pb-500px {
  padding-bottom: 500px;
}

.pl-500px {
  padding-left: 500px;
}

.pr-500px {
  padding-right: 500px;
}

.m-500px {
  margin: 500px;
}

.mt-500px {
  margin-top: 500px;
}

.mb-500px {
  margin-bottom: 500px;
}

.ml-500px {
  margin-left: 500px;
}

.mr-500px {
  margin-right: 500px;
}

.fs-500px {
  font-size: 500px;
}

.min-w-550px {
  min-width: 550px;
}

.min-h-550px {
  min-height: 550px;
}

.p-550px {
  padding: 550px;
}

.pt-550px {
  padding-top: 550px;
}

.pb-550px {
  padding-bottom: 550px;
}

.pl-550px {
  padding-left: 550px;
}

.pr-550px {
  padding-right: 550px;
}

.m-550px {
  margin: 550px;
}

.mt-550px {
  margin-top: 550px;
}

.mb-550px {
  margin-bottom: 550px;
}

.ml-550px {
  margin-left: 550px;
}

.mr-550px {
  margin-right: 550px;
}

.fs-550px {
  font-size: 550px;
}

.min-w-600px {
  min-width: 600px;
}

.min-h-600px {
  min-height: 600px;
}

.p-600px {
  padding: 600px;
}

.pt-600px {
  padding-top: 600px;
}

.pb-600px {
  padding-bottom: 600px;
}

.pl-600px {
  padding-left: 600px;
}

.pr-600px {
  padding-right: 600px;
}

.m-600px {
  margin: 600px;
}

.mt-600px {
  margin-top: 600px;
}

.mb-600px {
  margin-bottom: 600px;
}

.ml-600px {
  margin-left: 600px;
}

.mr-600px {
  margin-right: 600px;
}

.fs-600px {
  font-size: 600px;
}

.min-w-650px {
  min-width: 650px;
}

.min-h-650px {
  min-height: 650px;
}

.p-650px {
  padding: 650px;
}

.pt-650px {
  padding-top: 650px;
}

.pb-650px {
  padding-bottom: 650px;
}

.pl-650px {
  padding-left: 650px;
}

.pr-650px {
  padding-right: 650px;
}

.m-650px {
  margin: 650px;
}

.mt-650px {
  margin-top: 650px;
}

.mb-650px {
  margin-bottom: 650px;
}

.ml-650px {
  margin-left: 650px;
}

.mr-650px {
  margin-right: 650px;
}

.fs-650px {
  font-size: 650px;
}

.min-w-700px {
  min-width: 700px;
}

.min-h-700px {
  min-height: 700px;
}

.p-700px {
  padding: 700px;
}

.pt-700px {
  padding-top: 700px;
}

.pb-700px {
  padding-bottom: 700px;
}

.pl-700px {
  padding-left: 700px;
}

.pr-700px {
  padding-right: 700px;
}

.m-700px {
  margin: 700px;
}

.mt-700px {
  margin-top: 700px;
}

.mb-700px {
  margin-bottom: 700px;
}

.ml-700px {
  margin-left: 700px;
}

.mr-700px {
  margin-right: 700px;
}

.fs-700px {
  font-size: 700px;
}

.min-w-750px {
  min-width: 750px;
}

.min-h-750px {
  min-height: 750px;
}

.p-750px {
  padding: 750px;
}

.pt-750px {
  padding-top: 750px;
}

.pb-750px {
  padding-bottom: 750px;
}

.pl-750px {
  padding-left: 750px;
}

.pr-750px {
  padding-right: 750px;
}

.m-750px {
  margin: 750px;
}

.mt-750px {
  margin-top: 750px;
}

.mb-750px {
  margin-bottom: 750px;
}

.ml-750px {
  margin-left: 750px;
}

.mr-750px {
  margin-right: 750px;
}

.fs-750px {
  font-size: 750px;
}

.min-w-800px {
  min-width: 800px;
}

.min-h-800px {
  min-height: 800px;
}

.p-800px {
  padding: 800px;
}

.pt-800px {
  padding-top: 800px;
}

.pb-800px {
  padding-bottom: 800px;
}

.pl-800px {
  padding-left: 800px;
}

.pr-800px {
  padding-right: 800px;
}

.m-800px {
  margin: 800px;
}

.mt-800px {
  margin-top: 800px;
}

.mb-800px {
  margin-bottom: 800px;
}

.ml-800px {
  margin-left: 800px;
}

.mr-800px {
  margin-right: 800px;
}

.fs-800px {
  font-size: 800px;
}

.min-w-850px {
  min-width: 850px;
}

.min-h-850px {
  min-height: 850px;
}

.p-850px {
  padding: 850px;
}

.pt-850px {
  padding-top: 850px;
}

.pb-850px {
  padding-bottom: 850px;
}

.pl-850px {
  padding-left: 850px;
}

.pr-850px {
  padding-right: 850px;
}

.m-850px {
  margin: 850px;
}

.mt-850px {
  margin-top: 850px;
}

.mb-850px {
  margin-bottom: 850px;
}

.ml-850px {
  margin-left: 850px;
}

.mr-850px {
  margin-right: 850px;
}

.fs-850px {
  font-size: 850px;
}

.min-w-900px {
  min-width: 900px;
}

.min-h-900px {
  min-height: 900px;
}

.p-900px {
  padding: 900px;
}

.pt-900px {
  padding-top: 900px;
}

.pb-900px {
  padding-bottom: 900px;
}

.pl-900px {
  padding-left: 900px;
}

.pr-900px {
  padding-right: 900px;
}

.m-900px {
  margin: 900px;
}

.mt-900px {
  margin-top: 900px;
}

.mb-900px {
  margin-bottom: 900px;
}

.ml-900px {
  margin-left: 900px;
}

.mr-900px {
  margin-right: 900px;
}

.fs-900px {
  font-size: 900px;
}

.min-w-950px {
  min-width: 950px;
}

.min-h-950px {
  min-height: 950px;
}

.p-950px {
  padding: 950px;
}

.pt-950px {
  padding-top: 950px;
}

.pb-950px {
  padding-bottom: 950px;
}

.pl-950px {
  padding-left: 950px;
}

.pr-950px {
  padding-right: 950px;
}

.m-950px {
  margin: 950px;
}

.mt-950px {
  margin-top: 950px;
}

.mb-950px {
  margin-bottom: 950px;
}

.ml-950px {
  margin-left: 950px;
}

.mr-950px {
  margin-right: 950px;
}

.fs-950px {
  font-size: 950px;
}

.min-w-1000px {
  min-width: 1000px;
}

.min-h-1000px {
  min-height: 1000px;
}

.p-1000px {
  padding: 1000px;
}

.pt-1000px {
  padding-top: 1000px;
}

.pb-1000px {
  padding-bottom: 1000px;
}

.pl-1000px {
  padding-left: 1000px;
}

.pr-1000px {
  padding-right: 1000px;
}

.m-1000px {
  margin: 1000px;
}

.mt-1000px {
  margin-top: 1000px;
}

.mb-1000px {
  margin-bottom: 1000px;
}

.ml-1000px {
  margin-left: 1000px;
}

.mr-1000px {
  margin-right: 1000px;
}

.fs-1000px {
  font-size: 1000px;
}

* {
  all: unset;
}

* {
  font-family: "Maple Mono", sans-serif;
  font-size: 1.25rem;
}

/*# sourceMappingURL=style.css.map */
