$tan: #57544A;
$brown: #DAD4BB;
$highlight: #413D34;
$darkBrown: #B3AC92;
$accent: #CD664D;
$accent2: #A0C490;
$white: #ffffff;

.bg-tan {
    background-color: $tan;
}

.bg-brown {
    background-color: $brown;
}

.bg-highlight {
    background-color: $highlight;
}

.bg-darkBrown {
    background-color: $darkBrown;
}

.bg-accent {
    background-color: $accent;
}

.bg-accent2 {
    background-color: $accent2;
}

.bg-white {
    background-color: $white;
}

.text-tan {
    color: $tan;
}

.text-brown {
    color: $brown;
}

.text-highlight {
    color: $highlight;
}

.text-darkBrown {
    color: $darkBrown;
}

.text-accent {
    color: $accent;
}

.text-accent2 {
    color: $accent2;
}

.text-white {
    color: $white;
}