$tan: rgb(87, 84, 74);
$brown: rgb(218, 212, 187);
$highlight: rgb(65, 61, 52);
$darkBrown: rgb(179, 172, 146);
$accent: #cd664d;
$accent2: #a0c490;

.bg-tan {
    background-color: $tan;
}

.bg-brown {
    background-color: $brown;
}

.bg-highlight {
    background-color: $highlight;
}

.bg-darkBrown {
    background-color: $darkBrown;
}

.bg-accent {
    background-color: $accent;
}

.bg-accent2 {
    background-color: $accent2;
}

.color-tan {
    color: $tan;
}

.color-brown {
    color: $brown;
}

.color-highlight {
    color: $highlight;
}

.color-darkBrown {
    color: $darkBrown;
}

.color-accent {
    color: $accent;
}

.color-accent2 {
    color: $accent2;
}